* {
    list-style-type:none;
    text-decoration:none;
    margin:0;
    padding:0;
}

.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}

.clearfix {
    display:block;
}

*html .clearfix {
    height:1%;
}

*+html .clearfix {
    min-height:1%;
}

.nav_menu {
    height:42px;
    z-index:4;
    box-shadow:0 1px 2px rgba(0,0,0,.25),inset 0 1px 0 rgba(255,255,255,.15);
    position:fixed;
}

.nav 
{
    width:100%;
    height:40px;
    position:fixed;
    z-index:4;
    margin:0;
    background-color: #007D9C;
    border: solid 1px #007D9C;
}

.nav .list a {
    float:left;
    display:block;
    width:125px;
    height:40px;
    text-align:center;
    font:bold 15px/36px YaHei;
    margin-top:0;
    color: #fff;
}

.nav .list a:hover {
    color:#ff0;
}

.nav .list a:hover,.nav .list .now {
    color:#ff0;
}

.nav .box
{
    position:absolute;
    top:40px;
    width:100%;
    overflow:hidden;
    height:0;
    filter:alpha(opacity=0);
    opacity:0;
}

.nav .cont {
    position:relative;
    padding:25px 0 0 24px;
    background-color: #007D9C;
}

.sublist li {
    float:left;
    width:168px;
    padding-right:24px;
    padding-bottom:24px;
}

.sublist li h3.mcate-item-hd {
    font-family: YaHei;
    color: #fff;
    padding-left:2px;
    font-size:14px;
    height:26px;
    line-height:26px;
    border-bottom:1px dashed #fff;
}

.sublist li p.mcate-item-bd {
    padding-left:2px;
}

.sublist li p.mcate-item-bd a {
    height:26px;
    line-height:26px;
    margin-right:5px;
    font-size:12px;
    color:#fff;
    text-decoration:none;
    display:inline-block;
}

.sublist li p.mcate-item-bd a:hover {
    color:#ff0;
}

.nav .list li,.sbox ul li {
    float:left;
}